<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Information &bull; AlphaGameBot Web UI</title>
        <link rel="stylesheet" type="text/css" href="/static/pico.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/global.css" />
    </head>
    <body class="center">
        {% if fulltitle %}
        <h1>{{title}}</h1>
        {% else %}
        <h2>{{title}}</h2>
        {% endif %}
        <p>{{content}}</p>
        <footer>AlphaGameBot Web UI &copy; Damien Boisvert (AlphaGameDeveloper) 2024.</footer>

    </body>
</html>
