html.bg-image {
    background-image: url(/static/paper.webp);

}

/* I just HATE the :visited color for links */
a,a:visited {
    color: blue;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tooltip span {
	display: none;
	background-color: yellow;
	border: 1px dashed #000000;
	cursor: pointer;
}

.tooltip:hover span {
	display: inline;
}
