html.bg-image {
    background-image: url(/static/paper.webp);

}

/* I just HATE the :visited color for links */
a,a:visited {
    color: blue;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}